<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3">
            <!--logo-->
           <logo></logo>
        </div>
        <div class="col-xs-6">
            <!--button-->
            <modal></modal>
        </div>
        <div class="col-xs-3">
            <!--login-->
            <login></login>
        </div>
    </div>
</div>

<hr />
<div class="container-fluid">
    <div class="row">
        <filter></filter>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2">
           <!--This is where the category table goes-->
           <category></category>
        </div>
        <div class="col-xs-8">
            <!--videos on show-->
            <videos></videos>
            
        </div>
        <div class="col-xs-2">
            <!--Advertisement banner, first one will be PPC
                consequtive ones will be VPM-->
        </div>
    </div>
</div>