<div class="btn btn-default" data-toggle="modal" data-target=".videoModal">
    <div class="text  navbar-btn">Pinned Videos  <span class="badge" data-toggle="tooltip" data-placement="top" title="Clips Pinned" toolinit>{{numberOfPinnedVideos}}</span></div>
</div>


<div id="modeler"class="modal fade videoModal" role="dialog" modalinit>
    <div class="modal-dialog" modal-lg>
        <div class="modal-content">
            <div class="modal-header">
                <div>Pinned Videos</div>
            </div>
            <div class="modal-body">
                <div id="pinVid" class="modal-scroll">
                    <div infinite-scroll-parent infinite-scroll-container="'#pinVid'" infinite-scroll="getPinnedVideos()" infinite-scroll-distance="1">
                        <div class="container-fluid">
                            <div class="row">
                                <div ng-repeat="vid in pinnedVideos">

                                    <div class="col-xs-6">
                                        <div class="modal-title">
                                            <div class="text-format truncate-fade" ng-bind="vid.title"></div>
                                        </div>
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <div ng-bind-html="vid.embed | trustHtml"></div>
                                        </div>
                                        <div class="btn btn-default" ng-click="removePinVideo(vid)">remove</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <div class="btn btn-primary" ng-click="removeAllPinVideo()">remove all</div>
            </div>

        </div>
    </div>
</div>