.category{
    height: 400px;
    overflow-y: scroll;
    .btn-tag{
        height: 40px;
        width: 100px;
        &.unpressed{
            border-color: black;
            color: blue;
        }
        &.pressed{
            border-color: ActiveBorder;
            color:aqua;
        }
    }

    

}