<table class="table table-bordered table-hover">
    <tr>
        <td>
            <button role="checkbox" class="btn">catagory</button>
            <span class="caret"></span>
        </td>
    </tr>
    <tr>
        <td>
            <button role="checkbox" class="btn">catagory</button>
            <span class="caret"></span>
        </td>
    </tr>
    <tr>
        <td>
            <button role="checkbox" class="btn">catagory</button>
            <span class="caret"></span>
        </td>
    </tr>
    <tr>
        <td>
            <button role="checkbox" class="btn">catagory</button>
            <span class="caret"></span>
        </td>
    </tr>
   
</table>